# Import essential libraries

In [2]:
# Import essential libraries
import pandas as pd
import numpy as np
import sqlite3
import os

# ML preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# ML models
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier

# ML evaluation
from sklearn.metrics import accuracy_score

# SQL treatement

In [3]:
# Path to db
db_path = "../database/ELECTIONS.db" 

# Connect to db
conn = sqlite3.connect(db_path)

Let's agregate our datas per mandants (2017-2022)

In [4]:
query = """
SELECT 
    DEPARTMENT_CODE,
    MAX(WINNER) as WINNER,
    ROUND(AVG(POVERTY_RATE), 2) as avg_POVERTY_RATE,
    ROUND(AVG(UNEMPLOYMENT_RATE), 2) as avg_UNEMPLOYMENT_RATE,
    ROUND(AVG(IMMIGRATION_RATE), 2) as avg_IMMIGRATION_RATE,
    ROUND(AVG(NUMBER_OF_VICTIMS), 0) as avg_NUMBER_OF_VICTIMS
FROM ELECTIONS_ALL
WHERE YEAR IN (2018, 2019, 2020, 2021, 2022, 2023)
GROUP BY DEPARTMENT_CODE

UNION ALL

SELECT 
    DEPARTMENT_CODE,
    MAX(WINNER) as WINNER,
    ROUND(AVG(POVERTY_RATE), 2) as avg_POVERTY_RATE,
    ROUND(AVG(UNEMPLOYMENT_RATE), 2) as avg_UNEMPLOYMENT_RATE,
    ROUND(AVG(IMMIGRATION_RATE), 2) as avg_IMMIGRATION_RATE,
    ROUND(AVG(NUMBER_OF_VICTIMS), 0) as avg_NUMBER_OF_VICTIMS
FROM ELECTIONS_ALL
WHERE YEAR IN (2017)
GROUP BY DEPARTMENT_CODE
ORDER BY DEPARTMENT_CODE;
"""

df = pd.read_sql_query(query, conn)
df.head(20)

,DEPARTMENT_CODE,WINNER,avg_POVERTY_RATE,avg_UNEMPLOYMENT_RATE,avg_IMMIGRATION_RATE,avg_NUMBER_OF_VICTIMS
0,01,GAUCHE,10.80,5.88,12.03,22002.0
1,01,DROITE,10.50,6.75,11.57,20552.0
2,02,E.DROITE,18.93,11.15,4.83,21547.0
3,02,E.DROITE,18.50,12.97,4.37,20206.0
4,03,GAUCHE,16.25,8.38,5.34,11864.0
5,03,CENTRE,15.40,9.68,4.93,11763.0
6,04,GAUCHE,17.13,9.08,8.30,7229.0
7,04,CENTRE,16.60,10.70,7.60,7030.0
8,05,CENTRE,14.70,7.55,5.77,5688.0
9,05,CENTRE,13.90,8.68,5.60,6002.0
10,06,CENTRE,16.27,8.31,14.92,62574.0
11,06,CENTRE,15.50,9.82,14.33,65274.0
12,07,GAUCHE,14.92,8.71,5.46,10612.0
13,07,CENTRE,14.30,10.07,5.17,10175.0
14,08,E.DROITE,19.55,9.74,5.88,10181.0
15,08,DROITE,18.90,11.05,5.70,9468.0
16,09,GAUCHE,19.02,10.00,8.37,5709.0
17,09,E.GAUCHE,18.40,11.47,8.13,5457.0
18,10,E.DROITE,16.92,10.17,8.22,12760.0
19,10,DROITE,16.30,11.95,7.70,12617.0

Now that we have our training datas (first and 2nd mandats)  
We have to define our features (X) & target (Y)

## Features & Target

In [5]:
print("DataFrame Info:")
df.info()
print("\nMissing values check:")
print(df.isnull().sum())
print("\n---")

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DEPARTMENT_CODE        188 non-null    object
 1   WINNER                 187 non-null    object
 2   avg_POVERTY_RATE       188 non-null    float64
 3   avg_UNEMPLOYMENT_RATE  188 non-null    float64
 4   avg_IMMIGRATION_RATE   188 non-null    float64
 5   avg_NUMBER_OF_VICTIMS  188 non-null    float64
dtypes: float64(4), object(2)
memory usage: 8.9+ KB

Missing values check:
DEPARTMENT_CODE          0
WINNER                   1
avg_POVERTY_RATE         0
avg_UNEMPLOYMENT_RATE    0
avg_IMMIGRATION_RATE     0
avg_NUMBER_OF_VICTIMS    0
dtype: int64

---

In [6]:
# Define features (X) and target (y)
X = df.drop('WINNER', axis=1)
y = df['WINNER']

Désormais, nous devons identifier les features numériques & catégorielles pour les différencier

In [8]:
# Identify categorical and numerical features

categorical_features = ['DEPARTMENT_CODE']
numerical_features = [col for col in X.columns if col.startswith('avg_')]

print(f"Identified Categorical features: {categorical_features}")
print(f"Identified Numerical features: {numerical_features}")
print("---\n")

Identified Categorical features: ['DEPARTMENT_CODE']
Identified Numerical features: ['avg_POVERTY_RATE', 'avg_UNEMPLOYMENT_RATE', 'avg_IMMIGRATION_RATE', 'avg_NUMBER_OF_VICTIMS']
---

Now, we have to encode our categorial feature DEPARTMENT_CODE bc the AI Model understand better numerical features  
Same thing for StandardScaling (minimize big values to smaller ones)

In [9]:
# Preprocessing
# Create preprocessor for X (features)
# OneHotEncoder for DEPARTMENT_CODE, StandardScaler for numerical features

preprocessor_X = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore', sparse_output=False), categorical_features),
        ('num', StandardScaler(), numerical_features)
    ],
    remainder='passthrough' # This will keep any columns not specified (should be none here)
)

The LabelEncoder function will encode our label (target) y and give us different classes of

In [12]:
# Encode the target variable y
label_encoder_y = LabelEncoder()
y_encoded = label_encoder_y.fit_transform(y)

print(f"Target (y) categories found: {label_encoder_y.classes_}")
print("---\n")

Target (y) categories found: ['CENTRE' 'DROITE' 'E.DROITE' 'E.GAUCHE' 'GAUCHE' None]
---