# Import essential libraries

In [1]:
# Import essential libraries
import pandas as pd
import numpy as np
import sqlite3
import os

# ML preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# ML models
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier

# ML evaluation
from sklearn.metrics import accuracy_score

# SQL treatement

In [2]:
# Path to db
db_path = "../database/ELECTIONS.db" 

# Connect to db
conn = sqlite3.connect(db_path)

Let's agregate our datas per mandants (2017-2022)

In [24]:
query = """
SELECT 
    DEPARTMENT_CODE,
    MAX(WINNER) as WINNER,
    ROUND(AVG(POVERTY_RATE), 2) as avg_poverty_rate,
    ROUND(AVG(UNEMPLOYMENT_RATE), 2) as avg_unemployment_rate,
    ROUND(AVG(IMMIGRATION_RATE), 2) as avg_immigration_rate,
    ROUND(AVG(NUMBER_OF_VICTIMS), 0) as avg_number_of_victims
FROM ELECTIONS_ALL
WHERE YEAR IN (2018, 2019, 2020, 2021, 2022, 2023)

UNION ALL

SELECT 
    DEPARTMENT_CODE,
    MAX(WINNER) as WINNER,
    ROUND(AVG(POVERTY_RATE), 2) as avg_poverty_rate,
    ROUND(AVG(UNEMPLOYMENT_RATE), 2) as avg_unemployment_rate,
    ROUND(AVG(IMMIGRATION_RATE), 2) as avg_immigration_rate,
    ROUND(AVG(NUMBER_OF_VICTIMS), 0) as avg_number_of_victims
FROM ELECTIONS_ALL
WHERE YEAR IN (2017)
GROUP BY DEPARTMENT_CODE
ORDER BY DEPARTMENT_CODE;
"""

df = pd.read_sql_query(query, conn)
df.head(20)

,DEPARTMENT_CODE,WINNER,avg_poverty_rate,avg_unemployment_rate,avg_immigration_rate,avg_number_of_victims
0,01,GAUCHE,14.85,7.68,8.14,33004.0
1,01,DROITE,10.50,6.75,11.57,20552.0
2,02,E.DROITE,18.50,12.97,4.37,20206.0
3,03,CENTRE,15.40,9.68,4.93,11763.0
4,04,CENTRE,16.60,10.70,7.60,7030.0
5,05,CENTRE,13.90,8.68,5.60,6002.0
6,06,CENTRE,15.50,9.82,14.33,65274.0
7,07,CENTRE,14.30,10.07,5.17,10175.0
8,08,DROITE,18.90,11.05,5.70,9468.0
9,09,E.GAUCHE,18.40,11.47,8.13,5457.0
10,10,DROITE,16.30,11.95,7.70,12617.0
11,11,CENTRE,20.80,12.68,8.97,17714.0
12,12,CENTRE,13.90,6.92,5.17,6782.0
13,13,CENTRE,18.20,11.28,10.93,142014.0
14,14,CENTRE,12.30,8.70,3.57,25291.0
15,15,DROITE,13.20,5.65,2.30,3327.0
16,16,CENTRE,14.90,8.93,5.63,13374.0
17,17,DROITE,13.00,9.47,3.53,28229.0
18,18,CENTRE,14.70,9.72,5.33,11300.0
19,19,CENTRE,12.90,7.45,5.93,7236.0